* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 50px;
    background: #154872;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: black;
}
html,body{
  height: 100%;
  margin: 0;
}

body {
  background: #005DAA;
  color: white;
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* About Section */
.about {
  padding: 60px 10%;
  text-align: center;
}

.about h1 {
  font-size: 42px;
  margin-bottom: 40px;
}

/* Cards Layout */
.card-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card */
.card {
  position: relative;
  width: 300px;
  height: 380px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  transition: transform 0.6s ease;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease;
}

/* Hover cinematic zoom */
.card:hover img {
  transform: scale(1.2);
}

.card:hover {
  transform: translateY(-15px);
}

/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.2)
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.overlay p {
  font-size: 14px;
  line-height: 1.4;
  color: #e5e7eb;
}

/* RBC HISTORY SECTION */
.history {
  background: white;
  padding: 80px 10%;
}

.history-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.history-text {
  flex: 1;
  animation: fadeUp 1.2s ease;
}

.history-text h2 {
  font-size: 36px;
  color: #154872;
  margin-bottom: 20px;
}

.history-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 15px;
}

.history-image {
  flex: 1;
  animation: fadeUp 1.5s ease;
}

.history-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
    background: #154872;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}