* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;
    background: #005DAA;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: black;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


body{
    margin-top: 80px;
}

.hero-content {
    color: white;
    text-align: center;
    animation: fadeUp 2s ease;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero button {
    margin-top: 30px;
    padding: 12px 30px;
    border: none;
    background: #005DAA;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
}

.hero button:hover {
    background: white;
    transform: scale(1.1);
}

/* SERVICES */
.services {
    padding: 80px;
    text-align: center;
    background: #f4f6f8;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: white;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-15px) scale(1.05);
}

.card h3 {
    margin: 15px 0 5px;
}

.card p {
    padding-bottom: 20px;
}

/* FOOTER */
footer {
    background: #005DAA;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ANIMATION */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}