*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}
/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 50px;
    background: #154872;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: black;
}

body{
  background: white;
  color:#222;
}


/* HERO */
.hero{
  height:60vh;
background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
                url("background5.jpg") center/cover no-repeat;
  color:white;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:50px;
}

.hero p{
  margin-top:10px;
  font-size:18px;
}

/* SERVICES */
.services{
  padding:80px 10%;
  text-align:center;
}

.services h2{
  font-size:36px;
  margin-bottom:40px;
}

.service-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.service-card{
  background:#f9f9f9;
  padding:30px;
  border-radius:12px;
  transition:0.4s;
}

.service-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 40px rgba(0,0,0,0.1);
}

.services img{
  width:100px;
  height: 100px;
  object-fit: contain;
  margin-bottom:25px;
}

 .service-card img{
    display: block;
    margin: 0 auto 15px auto;
}

/* WHY */
.why{
  background:#005DAA;
  color:white;
  padding:80px 10%;
  text-align:center;
}

.why-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:30px;
}

/* CTA */
.cta{
  padding:80px;
  text-align:center;
}

.cta button{
  padding:15px 40px;
  background:#005DAA;
  color:white;
  border:none;
  font-size:18px;
  cursor:pointer;
  border-radius:30px;
}

/* FOOTER */
footer {
    background: #154872;
    color: white;
    text-align: center;
    padding: 20px;
}